@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-SemiBold.eot');
    src: local('IBMPlexSans-SemiBold'), url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'), url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body,html {
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
	background: #fff;
	font-size: 14px;
}

.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	.container_button_l{
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		button{
			margin: 10px;

			&:disabled{
				background: #EFEFEF;
				cursor: default;
				pointer-events: none;
				
				span{
					color: #A6A6A6;
				}

				path{
					fill: #BFBFBF;
				}
			}
		}

		.rimary_button{
			background: #272733;
			padding: 12px 16px;
			border-radius: 8px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;
			position: relative;

			&:hover{
				background: #151515;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 4px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #fff;
				line-height: 20px;
			}
		}
		.secondary_button{
			background: #EDF2F4;
			padding: 12px 16px;
			border-radius: 8px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;

			path{
				fill: #272733;
			}

			&:hover{
				background: #E2EBEE;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 4px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #272733;
				line-height: 20px;
			}
		}
		.danger_button{
			background: #E52421;
			padding: 12px 16px;
			border-radius: 8px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;

			&:hover{
				background: #D80F16;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 4px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #fff;
				line-height: 20px;
			}
		}
	}

	.container_button_m{
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		button{
			margin: 10px;

			&:disabled{
				background: #EFEFEF;
				cursor: default;
				pointer-events: none;
				
				span{
					color: #A6A6A6;
				}

				path{
					fill: #BFBFBF;
				}
			}
		}

		.rimary_button{
			background: #272733;
			padding: 8px 12px;
			border-radius: 8px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;
			position: relative;

			&:hover{
				background: #151515;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 3px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #fff;
				line-height: 20px;
			}
		}
		.secondary_button{
			background: #EDF2F4;
			padding: 8px 12px;
			border-radius: 8px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;

			path{
				fill: #272733;
			}

			&:hover{
				background: #E2EBEE;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 3px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #272733;
				line-height: 20px;
			}
		}
		.danger_button{
			background: #E52421;
			padding: 8px 12px;
			border-radius: 8px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;

			&:hover{
				background: #D80F16;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 3px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #fff;
				line-height: 20px;
			}
		}
	}

	.container_button_s{
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		button{
			margin: 10px;

			&:disabled{
				background: #EFEFEF;
				cursor: default;
				pointer-events: none;
				
				span{
					color: #A6A6A6;
				}

				path{
					fill: #BFBFBF;
				}
			}
		}

		.rimary_button{
			background: #272733;
			padding: 2px 8px;
			border-radius: 4px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;
			position: relative;

			&:hover{
				background: #151515;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 3px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #fff;
				line-height: 20px;
			}
		}
		.secondary_button{
			background: #EDF2F4;
			padding: 2px 8px;
			border-radius: 4px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;

			path{
				fill: #272733;
			}

			&:hover{
				background: #E2EBEE;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 3px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #272733;
				line-height: 20px;
			}
		}
		.danger_button{
			background: #E52421;
			padding: 2px 8px;
			border-radius: 4px;
			border: none;
			outline: none;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
			transition: all 0.3s;

			&:hover{
				background: #D80F16;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:focus{
				box-shadow: 0 0 0 3px #C5D1F7;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}

			&:active{
				svg{
					opacity: 0.7;
				}

				span{
					opacity: 0.7;
				}
			}

			svg{
				&:first-child{
					margin-right: 6px;
				}
				&:last-child{
					margin-left: 6px;
				}
			}

			span{
				font-family: 'IBM Plex Sans';
				font-weight: 600;
				text-align: center;
				font-size: 14px;
				color: #fff;
				line-height: 20px;
			}
		}
	}
}